/autom4te.cache/
.cproject
/dkms.conf
/hd44780-cuimhne.ko
/.hd44780-cuimhne.ko.cmd
/hd44780-cuimhne.mod
/hd44780-cuimhne.mod.c
/.hd44780-cuimhne.mod.cmd
/hd44780-cuimhne.mod.o
/.hd44780-cuimhne.mod.o.cmd
/hd44780-cuimhne.o
/.hd44780-cuimhne.o.cmd
/hd44780-i2c.o
/.hd44780-i2c.o.cmd
/modules.order
/Module.symvers
.project
.settings
