Package: hd44780-i2c
Source: hd44780-i2c
Section: kernel
Priority: optional
Standards-Version: 3.9.5
Maintainer: Claude Warren <claude@xenei.com>
Version: VERSION_STRING
Depends: dkms i2c
Suggests: i2c-tools
Description: Provides HD44780 over I2C on /dev/lcd?
 Provides HD44780 over I2C on /dev/lcd.

 